*{
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif;
    box-sizing: border-box;
}
h1,h2,h3{
    color: #333;
}
p{
    color: #70747a;
}
/* Navabar*/
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}
nav{
    position: relative;
}
.logo{
    width: 50px;
    margin-top: 15px;
}
.navbar-itens{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0px;
    display: inline-block;
}
.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-itens a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-itens a:hover{
    color: #444242; 
}
.btn-entrar{
    padding: 15px 25px ;
    background-color: #2cc76a;
    border-radius: 5px;
}
/* Banner*/
.main-banner{
    background-image: url('../imagens/background.jpg');
    background-size:cover;
    background-position: center;
    padding: 10rem 0;
}
.main-banner h1,
.main-banner p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px 3px black;
}
.main-banner h1{
    font-size: 54px;
}
.main-banner p{
    font-size: 32px;
}
/*Servicos */
.servicos-container{
    padding: 5rem 0;
}
.servicos-container ul{
    display: flex;
    width: 90%;
    margin: 0px auto;
}
.servicos-container li{
    flex: 1 1 200px;
    list-style-type: none;
    text-align: center;
    padding: 20px;
}
.servicos-container h3{
    margin-bottom: 15px;
}
.servicos-container p{
    line-height: 25px;
}
.fas{
    font-size: 60px;
    margin-bottom: 15px;
}
.fa-shield-alt{
    color: rgb(15, 15, 170);
}
.fa-rocket{
    color: rgb(255, 81, 0);
}
.fa-comments{
    color: rgb(75, 75, 75);
}

/* Preços e Planos*/

.precos-container{
    padding-bottom: 5rem;
    text-align: center;
}
.precos-container h2{
    font-size: 35px;
}
.precos-container p{
    font-size: 20px;
}
.planos-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}
.plano{
    flex: 1 ;
    max-width: 275px;
    margin: 0 20px;
}
.plano ul{
    padding: 0;
}
.plano li{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    background-color: #c9ced4;
    color:#26292c;
}
.plano .preco{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc76a;
    color: white;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -40px;
    font-size: 18px;
    position: relative;
}
.plano .nome-plano{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: rgb(252, 248, 248);
    background-color: rgb(15, 19, 39);
    padding: 50px 0;
}
.plano .btn-sabermais{
    background-color: #2cc76a;
    color: white;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}
.plano .btn-sabermais:hover{
    background-color:  #1c8546;
    color: #f7f7f7;
    transition: 0.7s;
}
.plano .recomendado{
    background-color: rgb(255, 81, 0);
}
.plano .recomendado:hover{
    background-color: rgb(206, 65, 0);
}

/* Busca de dominio*/

.searchdomain-container{
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}
.searchdomain-container h2{
    color: white;
    font-size: 42px;
    margin-bottom: 15px ;
}
.searchdomain-container p{
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}
.searchdomain-container input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}
.searchdomain-container input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom:25px ;
}
.searchdomain-container input[type="submit"]{
    background-color: #2dc76a;
    padding: 15px 30px;
    color: white;
    font-size: 24px;
    cursor:pointer;
}
.searchdomain-container input[type="submit"]:hover{
    background-color:white;
    color: #2dc76a;
    transition: 0.8s;
}

/* Formulario de contato*/

.contato-container{
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contato-container h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.contato-container p{
    font-size: 20px;
    margin-bottom: 40px;
}
.contato-container input, .contato-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    margin: 0px 10px 10px 20px;
}

.contato-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}
.contato-container input[type="submit"]{
    display:block ;
    font-size: 20px;
    margin: 0 auto;
    background-color: #2cc76a;
    color:white ;
    cursor:pointer;
}
.contato-container input[type="submit"]:hover{
    background-color:white;
    color: #2dc76a;
    transition: 0.8s;
}
footer{
    text-align: center;
    font-weight: bold;
    margin: 20px 0 100px;
}


/* responsividade*/

/* apartir de 1100px*/

@media (max-width:1110){
    .precos-container{
        width: 90%;
    }
    .plano{
        margin: 0 5px;
    }
}

/* abaixo de 900px*/

@media (width:900px){
    .searchdomain-container{
        padding: 2rem 6rem;
    }
}

/* abaixo de 576px*/

@media (max-width:576px){

    html,body{
        overflow-x: hidden;
    }

    .main-banner{
        padding: 1 4rem;
    }
    .navbar-itens li{
        font-size: 11px;
        margin-right: 0.5px;
    }

    .servicos-container ul{
        flex-direction: column;
    }

    .planos-container{
        width: 100%;
        flex-direction: column;
        padding: 0 2rem;
    }
    .plano{
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .searchdomain-container h2{
        font-size:30px;
    }
    .searchdomain-container input[type="text"]{
        width: 100%;
        text-align: center;
    }

    .searchdomain-container{
        padding: 2rem 4rem;
    }
    .contato-container{
        padding: 3rem 2rem;
    }
    .contato-container input,
    .contato-container textarea{
        width: 100%;
    }
}